## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [27]:
# Your code here

sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[2, 51, 71, 27, 11, 80, 7, 46, 62, 56, 83, 20, 98, 17, 85, 94, 65, 69, 23, 54, 66, 24, 72, 52, 18, 75, 42, 55, 53, 29, 57, 15, 13, 32, 95, 90, 37, 12, 21, 16, 88, 25, 74, 14, 39, 34, 9, 43, 73, 49, 35, 8, 64, 68, 67, 28, 86, 91, 26, 22, 36, 10, 1, 30, 82, 0, 77, 33, 100, 38, 93, 45, 6, 99, 89, 79, 40, 84, 70, 76]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [34]:
# Your code here
set1 = set((sample_list_1))
print(len(set1))
print(type(set1))

80
<class 'set'>

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [38]:
# Your code here
sample_list_2 = []


for counter in range (80):
    
    random_number=random.sample(range(101), 1)
    sample_list_2+=random_number

print(sample_list_2)

[23, 96, 68, 60, 93, 24, 81, 47, 78, 45, 18, 55, 18, 95, 49, 2, 20, 54, 64, 10, 37, 100, 23, 6, 31, 35, 5, 45, 89, 10, 23, 50, 21, 55, 3, 63, 59, 94, 23, 50, 77, 91, 43, 48, 70, 37, 19, 16, 33, 37, 34, 36, 93, 34, 17, 8, 37, 4, 23, 48, 67, 58, 85, 32, 15, 43, 90, 25, 79, 64, 93, 78, 9, 67, 11, 50, 98, 45, 38, 8]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [39]:
# Your code here
set2 = set((sample_list_2))
print(len(set2))
print(type(set2))
# It has fewer numbers than sample_list_2 as there cannot be repeated values

57
<class 'set'>

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [41]:
# Your code here

set3 = set1.difference(set2)
print(set3)

{0, 1, 7, 12, 13, 14, 22, 26, 27, 28, 29, 30, 39, 40, 42, 46, 51, 52, 53, 56, 57, 62, 65, 66, 69, 71, 72, 73, 74, 75, 76, 80, 82, 83, 84, 86, 88, 99}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [42]:
# Your code here

set4 = set2.difference(set1)
print(set4)

{96, 3, 4, 5, 78, 47, 48, 81, 50, 19, 58, 59, 60, 63, 31}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [43]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{2, 6, 8, 9, 10, 11, 15, 16, 17, 18, 20, 21, 23, 24, 25, 32, 33, 34, 35, 36, 37, 38, 43, 45, 49, 54, 55, 64, 67, 68, 70, 77, 79, 85, 89, 90, 91, 93, 94, 95, 98, 100}

#### 8 - Create an empty set called `set6`.

In [44]:
# Your code here
set6 = set()
print(type(set6))

<class 'set'>

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [45]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 49, 51, 52, 53, 54, 55, 56, 57, 62, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 98, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [46]:
# Your code here
set1==set6

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
# Your code here
check_true_1 = set2.issubset(set1)
print(check_true_1)
check_true_2 = set3.issubset(set1)
print(check_true_2)

False
True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [56]:
# Your code here
set_union_1 = set3.union(set4,set5)
print(set_union_1)
print("\n")
set_union_2 = set_union_1.union(set1,set2)
print(set_union_2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 98, 99, 100}


{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 93, 94, 95, 96, 98, 99, 100}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [58]:
# Your code here
# I think I cannot as The pop() method removes a random item from the set.

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [61]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)

{0, 2, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 45, 46, 52, 53, 54, 55, 56, 57, 62, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 88, 90, 93, 94, 95, 98, 100}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [62]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [64]:
# Your code here
father_set = set()

for element in father_list:
    father_set.add(element)

print(father_set)

jo_set = set()

for element in Jo_list:
    jo_set.add(element)

print(jo_set)

carlos_set = set()

for element in Carlos_list:
    carlos_set.add(element)

print(carlos_set)

{'cucumber', 'yogurt', 'watermelon', 'gums', 'flour', 'toilet paper', 'garlic', 'onions'}
{'cucumber', 'tomatoes', 'blueberries', 'sugar', 'watermelon', 'yogurt', 'milk', 'gums', 'garlic', 'juice', 'onions'}
{'tomatoes', 'blueberries', 'flour', 'toilet paper', 'garlic', 'water', 'cherries', 'onions'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [67]:
# Your code here

mattia_set = carlos_set.symmetric_difference(jo_set)
print(mattia_set)

{'cucumber', 'sugar', 'watermelon', 'yogurt', 'milk', 'water', 'gums', 'flour', 'toilet paper', 'juice', 'cherries'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [68]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['deodorant', 'vinegar', 'gums', 'bread', 'vinegar', 'tomatoes', 'garlic', 'bread', 'tomatoes', 'bread']

In [70]:
# Your code here
mother_set = set(mother_list)
print(mother_set)

{'tomatoes', 'vinegar', 'deodorant', 'gums', 'bread', 'garlic'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [78]:
# Your code here
all_set = set()

new_father_list = list(father_set)
new_jo_list = list(jo_set)
new_carlos_list = list(carlos_set)
new_mother_list = list(mother_set)
new_mattia_list = list(mattia_set)

all_list = new_father_list+new_jo_list+new_carlos_list+new_mother_list+new_mattia_list

for element in all_list:
    if element == "toilet paper":
        all_list.remove("toilet paper")
    
print(all_list)

['cucumber', 'yogurt', 'watermelon', 'gums', 'flour', 'garlic', 'onions', 'cucumber', 'tomatoes', 'blueberries', 'sugar', 'watermelon', 'yogurt', 'milk', 'gums', 'garlic', 'juice', 'onions', 'tomatoes', 'blueberries', 'flour', 'garlic', 'water', 'cherries', 'onions', 'tomatoes', 'vinegar', 'deodorant', 'gums', 'bread', 'garlic', 'cucumber', 'sugar', 'watermelon', 'yogurt', 'milk', 'water', 'gums', 'flour', 'juice', 'cherries']

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [103]:
# Your code here
all_set = father_set.union(jo_set,carlos_set,mother_set,mattia_set)
print(all_set)

{'bread', 'yogurt', 'milk', 'toilet paper', 'cucumber', 'tomatoes', 'blueberries', 'sugar', 'vinegar', 'watermelon', 'deodorant', 'water', 'gums', 'flour', 'garlic', 'juice', 'cherries', 'onions'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [105]:
# Your code here

for loops in range(13):
    all_set.pop()
        
print(all_set)
len(all_set)

{'flour', 'garlic', 'juice', 'cherries', 'onions'}

5